### regular function

In [2]:
def add(x, y):
    return x + y
    
print('The sum of 100 and 200 : ', add(100,200))

The sum of 100 and 200 :  300

### defining lambda function

In [3]:
add = lambda x, y : x + y
print('The sum of 100 and 200:', add(100,200))

The sum of 100 and 200: 300

In [4]:
print('The sum of 100 and 200:', (lambda x, y : x + y)(100,200))
#                                     parameter    argument

The sum of 100 and 200: 300

### filter function

#### regular function

In [5]:
def adult_func(n):
    if n >= 19:
        return True
    else:
        return False
    
ages = [34,39,20,40,50,14,5]
print("The list of adult:")

for a in filter(adult_func, ages): # ages pass to n in adult_func(n)
    print(a, end = " ")

The list of adult:
34 39 20 40 50

#### lambda function

In [8]:
ages = [34,39,20,40,50,14,5]
print("The list of adult:")
for a in filter(lambda x : x >= 19, ages):
    print(a, end = ' ')

The list of adult:
34 39 20 40 50

In [34]:
ages = [34, 39, 20, 18, 13, 54]
adult_ages = list(filter(lambda x : x >= 19, ages))
print('The list of adult :', adult_ages)

The list of adult : [34, 39, 20, 54]

### map function

#### w/o using map function

In [9]:
a = [1,2,3,4,5,6]
square_a = []
for n in a:
    square_a.append(n**2)
print(square_a)

[1, 4, 9, 16, 25, 36]

#### regular function

In [15]:
def square(x):
    return x ** 2

a = [1,2,3,4,5,6]
square_a = list(map(square, a))
print(square_a)

[1, 4, 9, 16, 25, 36]

#### lambda function

In [13]:
a = [1,2,3,4,5,6]
square_a = list(map(lambda x : x ** 2, a))
print(square_a)

[1, 4, 9, 16, 25, 36]

### reduce function

In [40]:
from functools import reduce

a = [1,2,3,4,5]
n = reduce(lambda x, y : x + y, a)
print(n)

15

### one liners

In [18]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
[x * x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

In [21]:
[x for x in range(10)if x % 2 == 1]

[1, 3, 5, 7, 9]

In [22]:
s = input('Enter multiple integers: ').split()

Enter multiple integers: 10 20 30 40 50

In [23]:
lst = [int(x) for x in s]
lst

[10, 20, 30, 40, 50]

In [25]:
[int(x) for x in input('Enter multiple integers : ').split()]

Enter multiple integers : 1 2 3 4 45

[1, 2, 3, 4, 45]

#### w/o one liner

In [26]:
product_xy = []
for x in [1,2,3]:
    for y in [2,4,6]:
        product_xy.append(x * y)
print(product_xy)

[2, 4, 6, 4, 8, 12, 6, 12, 18]

#### with one liner

In [27]:
product_xy = [x * y for x in [1,2,3] for y in [2,4,6]]
print(product_xy)

[2, 4, 6, 4, 8, 12, 6, 12, 18]

### comparing one liner and lambda function

In [28]:
a = [1,2,3,4,5,6,7]
a = list(map(lambda x : x ** 2, a))
print(a)

[1, 4, 9, 16, 25, 36, 49]

In [31]:
a = [x ** 2 for x in range(1, 8)]
print(a)

[1, 4, 9, 16, 25, 36, 49]

In [32]:
a = [1,2,3,4,5,6,7]
a = [x ** 2 for x in a]
print(a)

[1, 4, 9, 16, 25, 36, 49]

In [35]:
# lambda
ages = [34, 39, 20, 18, 13, 54]
adult_ages = list(filter(lambda x : x >= 19, ages))
print('The list of adult :', adult_ages)

# one liner
ages = [34, 39, 20, 18, 13, 54]
print('The list of adult :', [x for x in ages if x >= 19])

The list of adult : [34, 39, 20, 54]
The list of adult : [34, 39, 20, 54]

In [38]:
# one liner
print([n for n in range(1, 31) if n % 2 == 0 if n %3 == 0])

# lambda
print(list(filter(lambda x : (x % 2 == 0 and x % 3 == 0), range(1, 31))))

[6, 12, 18, 24, 30]
[6, 12, 18, 24, 30]

In [39]:
# one liner
print([n for n in range(1, 31) if n % 2 == 0 if n % 3 == 0 if n % 5 == 0])

# lambda
print(list(filter(lambda x : (x % 2 == 0 and x % 3 == 0 and x % 5 == 0), range(1, 31))))

[30]
[30]