### person database

In [22]:
info = ["Name"     , "Age", "Gender (Female:0, Male:1)", "Height", "Weight"]
dd =   ["David Doe", 20   , 1     , 100.0, 100.0]
print("{} {} {} {} {}".format(info[0],info[1],info[2],info[3],info[4]))
print("{} {} {} {} {}".format(dd[0],dd[1],dd[2],dd[3],dd[4]))

Name	 Age Gender (Female:0, Male:1) Height Weight
David Doe 20 1 100.0 100.0

In [ ]:
for i in dd:
    print("{}\t".format(i),end="")