In [1]:
colors = ('red', 'green', 'blue')
colors

('red', 'green', 'blue')

In [2]:
numbers = (1,2,3,4,5)
print(numbers)

(1, 2, 3, 4, 5)

### tuple is immutable data type

In [9]:
t1 = (1,2,3,4,5)
t1[0] = 100
# cant change value of a tuple, nor delete a value

TypeError: 'tuple' object does not support item assignment

In [8]:
# while list is mutable, can change value inside the bracket
t1 = [1,2,4,5]
t1[0] = 100
print(t1)

[100, 2, 4, 5]

### single element in tuple

In [10]:
tup = (100)
print(type(tup))

tupp = (100,)
print(type(tupp))

<class 'int'>
<class 'tuple'>

### packing and unpacking

In [14]:
# packing
a = (1,2)
a[0]
a[1]

# unpacking
c = 3,4
x,y = c
x
y

4

### method

In [16]:
# to use methods in tuple, convert it to list first cuz tuple values cant be changed
tup = (1,2,56,34,6,21,5,2,9,6,0)
temp = list(tup)
temp.sort()
print(temp)

[0, 1, 2, 2, 5, 6, 6, 9, 21, 34, 56]

### sequence type

In [19]:
even_list = list(range(2,11,2))
print('even list =', even_list)

# by converting range into a list, u can easily create lists of various numbers
print(list(range(10)))
print(list(range(2,10)))
print(list(range(2,10,3)))

even list = [2, 4, 6, 8, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 5, 8]

### index and indexing in sequence data type

In [21]:
# string
string = "Hello world"
print(string[4])

# list
listt = [1,2,3,4,5]
print(listt[-1])

# tuple
tupp = (2,3,5,67,2)
print(tupp[2])

# range
ran = range(0,5,1)
print(ran[-2])

o
4
5

4

### slicing in sequence data type

In [24]:
# string
string = "Hello world"
print(string[4:5])

# list
listt = [1,2,3,4,5]
print(listt[:])

# tuple
tupp = (2,3,5,67,2)
print(tupp[-2:-4])

# range
ran = range(0,5,1)
print(ran[-3:-1])

o
[1, 2, 3, 4, 5]
()
range(2, 4)

### len function

In [30]:
nations = ['korea', 'china', 'russia', 'malaysia']
print(nations[len(nations)-1])

# indexing is 0,1,2,3
# len is 4
# so need to -1 to become 3

malaysia

### is operator

In [35]:
# string
string1 = "Hello world" 
string2 = "Hello world"

if string1 == string2:
    if string1 is string2:
        print("same")
    else:
        print("different")
else:
    print("its different")
    
# list
listt1 = [1,2,3,4,5]
listt2 = [1,2,3,4,5]
if listt1 is listt2:
    print("same")
else:
    print("different")

# tuple
tupp1 = (2,3,5,67,2)
tupp2 = (2,3,5,67,2)
if tupp1 is tupp2:
    print("same")
else:
    print("different")

# range
ran1 = range(0,5,1)
ran2 = range(0,5,1)
if ran1 is ran2:
    print("same")
else:
    print("different")

different
different
different
different