### most occuring element

In [3]:
tup = (1,2,5,4,3,2,1,4,7,8,9,9,3,7,3,9)
list1 = list(tup) # convert tup(tuple) to list
list1.sort() # sort the list

truemode = 0 # most occuring element

for i in range(list1[0], list1[-1]+1): # first index, last index + 1(to count the last index)
    mode = tup.count(i)
    if mode >= truemode:
        truemode = mode # replace the biggest trumode
        element = i # the number of i reached
print("most frequently occuring element is {}.".format(element))

most frequently occuring element is 9.

### remove empty sequence type

In [12]:
listt = [(), (1,), [], 'abc', (), (), (1,), ('a',), ('a','b'), ((),), '']
list1 = [] 

for i in listt:

    if len(i) != 0:
#         print(len(i))
        list1.append(i)

print(list1)

[(1,), 'abc', (1,), ('a',), ('a', 'b'), ((),)]

In [14]:
listt = [(), (1,), [], 'abc', (), (), (1,), ('a',), ('a','b'), ((),), '']
for i in listt:
    print(len(i), i)

0 ()
1 (1,)
0 []
3 abc
0 ()
0 ()
1 (1,)
1 ('a',)
2 ('a', 'b')
1 ((),)
0

### test

In [58]:
t = tuple()
t[0] = 1
print(t)

TypeError: 'tuple' object does not support item assignment

In [48]:
t = (1,2,3)
t.sort()
print(t)

AttributeError: 'tuple' object has no attribute 'sort'

In [57]:
t = (1,2,3)
print("{}".format(t[len(t)-1]))
# len(t) = 2

3

In [1]:
listt = [(), (1,), [], 'abc', (), (), (1,), ('a',), ('a', 'b'), ((),), '']
for i in reversed(listt):
    if len(i) == 0:
        listt.remove(i)

print(listt)

[(1,), 'abc', (1,), ('a',), ('a', 'b'), ((),)]