In [1]:
for i in range(5):
    print("Welcome to everyone!")

Welcome to everyone!
Welcome to everyone!
Welcome to everyone!
Welcome to everyone!
Welcome to everyone!

In [2]:
i = 0
while i < 5:
    print("Welcome to everyone!")
    i += 1

Welcome to everyone!
Welcome to everyone!
Welcome to everyone!
Welcome to everyone!
Welcome to everyone!

In [7]:
for ch in 'hello':
    print(ch, end = '.')

h.e.l.l.o.

In [13]:
numbers = [10, 20, 30, 40, 50]
s = 0
for n in numbers:
    s += n
print("Sum of list item values :", s)

Sum of list item values : 150

In [11]:
s = 0 
for n in range(1,11):
    s += n
print("The sum of 1 to 10:", s)

The sum of 1 to 10: 55

In [10]:
print(list(range(0,5)))

[0, 1, 2, 3, 4]

In [16]:
n = int(input("Enter a number: "))
fact = 1
for i in range(1, n+1):
    fact = fact * i
print(str(n) + "! =", fact)

for apple in apples:

Enter a number: 5
5! = 120

In [2]:
for i in range(2,10):
    for j in range(1,10):
        print("{} x {} = {:2d}, ".format(j, i, i * j), end = " ")
print()

1 x 2 =  2,  2 x 2 =  4,  3 x 2 =  6,  4 x 2 =  8,  5 x 2 = 10,  6 x 2 = 12,  7 x 2 = 14,  8 x 2 = 16,  9 x 2 = 18,  1 x 3 =  3,  2 x 3 =  6,  3 x 3 =  9,  4 x 3 = 12,  5 x 3 = 15,  6 x 3 = 18,  7 x 3 = 21,  8 x 3 = 24,  9 x 3 = 27,  1 x 4 =  4,  2 x 4 =  8,  3 x 4 = 12,  4 x 4 = 16,  5 x 4 = 20,  6 x 4 = 24,  7 x 4 = 28,  8 x 4 = 32,  9 x 4 = 36,  1 x 5 =  5,  2 x 5 = 10,  3 x 5 = 15,  4 x 5 = 20,  5 x 5 = 25,  6 x 5 = 30,  7 x 5 = 35,  8 x 5 = 40,  9 x 5 = 45,  1 x 6 =  6,  2 x 6 = 12,  3 x 6 = 18,  4 x 6 = 24,  5 x 6 = 30,  6 x 6 = 36,  7 x 6 = 42,  8 x 6 = 48,  9 x 6 = 54,  1 x 7 =  7,  2 x 7 = 14,  3 x 7 = 21,  4 x 7 = 28,  5 x 7 = 35,  6 x 7 = 42,  7 x 7 = 49,  8 x 7 = 56,  9 x 7 = 63,  1 x 8 =  8,  2 x 8 = 16,  3 x 8 = 24,  4 x 8 = 32,  5 x 8 = 40,  6 x 8 = 48,  7 x 8 = 56,  8 x 8 = 64,  9 x 8 = 72,  1 x 9 =  9,  2 x 9 = 18,  3 x 9 = 27,  4 x 9 = 36,  5 x 9 = 45,  6 x 9 = 54,  7 x 9 = 63,  8 x 9 = 72,  9 x 9 = 81,