### bts

In [2]:
bts = ['V', 'J-Hope', 'RM', 'Jungkook', 'Jin', 'Jimin', 'Suga']
for _ in bts:
    print(_)

V
J-Hope
RM
Jungkook
Jin
Jimin
Suga

### sum of 1-100

In [11]:
total = 0
for n in range(1,101):
    total = total + n
print(f"Sum of integers from 1 to 100: {total}")

Sum of integers from 1 to 100: 5050

### sum of multiple of 3 and 5 in 1-99

In [8]:
t = 0
for i in range(1,100):
    if i % 3 == 0 or i % 5 ==0:
        t += i
print(i)

99

### sum of even num from 1 to 100

In [12]:
total1 = 0
for even in range(0,101,2):
    total1 += even
print(f"Sum of even numbers from 1 to 100: {total1}")

Sum of even numbers from 1 to 100: 2550

### sum of odd from 1 to 100

In [3]:
total2 = 0
for odd in range(1,101,2):
    total2 += odd
print(f"Sum of odd numbers from 1 to 100: {total2}")

Sum of odd numbers from 1 to 100: 2500

### nested loop for multiplication table

In [53]:
list1 = [3,5,7]
list2 = [2,3,4,5,6]
for j in list2:
    for i in list1:
        print(f"{i} x {j} = {i*j}\t", end=" ")
    print()

3 x 2 = 6	 5 x 2 = 10	 7 x 2 = 14
3 x 3 = 9	 5 x 3 = 15	 7 x 3 = 21
3 x 4 = 12	 5 x 4 = 20	 7 x 4 = 28
3 x 5 = 15	 5 x 5 = 25	 7 x 5 = 35
3 x 6 = 18	 5 x 6 = 30	 7 x 6 = 42

In [6]:
i = 1
while i <= 9 :
    print(f"{2} x {i} = {2*i}")
    i += 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [9]:
i = 1
while True:
    print(f"{2} x {i} = {2*i}")
    i += 1
    if i > 9:
        break

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [19]:
i = 1
while i <= 9:
    j = 1
    while j < 9:
        j += 1
        print(f"{i} x {j} = {i*j}")
    i += 1

1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [29]:
i = 1
while i < 9:
    j = 1
    while j <= 9:
        print(f"{i} x {j} = {i*j}\t", end = ' ')
        j += 1
    i += 1

1 x 1 = 1	 1 x 2 = 2	 1 x 3 = 3	 1 x 4 = 4	 1 x 5 = 5	 1 x 6 = 6	 1 x 7 = 7	 1 x 8 = 8	 1 x 9 = 9	 2 x 1 = 2	 2 x 2 = 4	 2 x 3 = 6	 2 x 4 = 8	 2 x 5 = 10	 2 x 6 = 12	 2 x 7 = 14	 2 x 8 = 16	 2 x 9 = 18	 3 x 1 = 3	 3 x 2 = 6	 3 x 3 = 9	 3 x 4 = 12	 3 x 5 = 15	 3 x 6 = 18	 3 x 7 = 21	 3 x 8 = 24	 3 x 9 = 27	 4 x 1 = 4	 4 x 2 = 8	 4 x 3 = 12	 4 x 4 = 16	 4 x 5 = 20	 4 x 6 = 24	 4 x 7 = 28	 4 x 8 = 32	 4 x 9 = 36	 5 x 1 = 5	 5 x 2 = 10	 5 x 3 = 15	 5 x 4 = 20	 5 x 5 = 25	 5 x 6 = 30	 5 x 7 = 35	 5 x 8 = 40	 5 x 9 = 45	 6 x 1 = 6	 6 x 2 = 12	 6 x 3 = 18	 6 x 4 = 24	 6 x 5 = 30	 6 x 6 = 36	 6 x 7 = 42	 6 x 8 = 48	 6 x 9 = 54	 7 x 1 = 7	 7 x 2 = 14	 7 x 3 = 21	 7 x 4 = 28	 7 x 5 = 35	 7 x 6 = 42	 7 x 7 = 49	 7 x 8 = 56	 7 x 9 = 63	 8 x 1 = 8	 8 x 2 = 16	 8 x 3 = 24	 8 x 4 = 32	 8 x 5 = 40	 8 x 6 = 48	 8 x 7 = 56	 8 x 8 = 64	 8 x 9 = 72