In [1]:
import module_name1[, module_name2, module_name3, ...]

SyntaxError: invalid syntax (1758364954.py, line 1)

### importing built-in module

In [1]:
import math
math.sin(1)

0.8414709848078965

### install external modules using pip install

In [4]:
import chart
x = [1,2,3,4,5,3,1,5,8,2,1,3,6,2,1]
chart.histogram(x)

▇
▇
▇
▇
▇
▇
▇ ▇ ▇
▇ ▇ ▇
▇ ▇ ▇
▇ ▇ ▇ ▇ ▇

### created fund_n module

In [3]:
import fund_cal

def main():
    t = int(input('Enter the total number of people attending the hospital fund event: '))
    total = fund_cal.fund(t)
    
    print('Total fundraising is: ', total)
    
main()

Enter the total number of people attending the hospital fund event: 3
Total fundraising is:  6

### created cal_n module

In [3]:
import cal_n

def main():
    n = int(input('Enter the number you want to calculate: '))
    
    sum_v = cal_n.sum_(n)
    print('The sum of all the numbers from 1 to', n, 'is:', sum_v)
    
    sum_vv = cal_n.sum2_(n)
    print('The value of adding all the consecutive numbers from 1 to', n, 'is:', sum_vv)
    
main()

Enter the number you want to calculate: 5
The sum of all the numbers from 1 to 5 is: 15
The value of adding all the consecutive numbers from 1 to 5 is: 15

### built in module

#### random module

In [1]:
import random
i = 0
for i in range(10):
    a = random.random()
    print(a)

0.3329979747899948
0.09400755104145431
0.34572933163992703
0.796114286139521
0.6027422930271839
0.27807877343495246
0.19762002826098868
0.8597590177363333
0.8557371627668269
0.7601927939264873

In [4]:
import random

data = [1,2,3,4,5,6,7,8,9,10,11,11,12,13,14,15]
a = random.sample(data, 6)

print(a)

[13, 11, 7, 6, 10, 9]

In [5]:
import random

dog_list = ('Labrador Retriever', 'German Shepherd', 'Bulldog', 'Bealge', 'Yorkshire Terrier')
my_lovely_dog = random.choice(dog_list)

print(my_lovely_dog)

Labrador Retriever

In [6]:
import random

x = random.uniform(1.5, 10)
y = random.uniform(10, 1.5)

print('When a <= b, a <= N <= b,', x)
print('When b < a, b < N < a', y)

When a <= b, a <= N <= b, 8.424807833733869
When b < a, b < N < a 3.683376256987728

#### time module

In [7]:
import time

for i in range(10):
    print('hello', i + 1)
    time.sleep(2)

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [8]:
import time

a = time.time()
b = time.ctime()

print(a)
print(b)

1709277850.409446
Fri Mar  1 14:24:10 2024

In [9]:
# digital clock
import time

for i in range(10):
    time.sleep(1)
    print(time.ctime())

Fri Mar  1 14:25:04 2024
Fri Mar  1 14:25:05 2024
Fri Mar  1 14:25:06 2024
Fri Mar  1 14:25:07 2024
Fri Mar  1 14:25:08 2024
Fri Mar  1 14:25:09 2024
Fri Mar  1 14:25:10 2024
Fri Mar  1 14:25:11 2024
Fri Mar  1 14:25:12 2024
Fri Mar  1 14:25:13 2024

In [10]:
from time import gmtime, strftime
strftime('%a, %d, %b, %Y, %H:%M:%S + 0000', gmtime())

'Fri, 01, Mar, 2024, 07:30:01 + 0000'

In [11]:
from time import localtime, strftime
strftime('%a, %d, %b, %Y, %H:%M:%S + 0000', localtime())

'Fri, 01, Mar, 2024, 14:30:31 + 0000'

#### datetime module

In [12]:
import datetime

today = datetime.date.today()

print(today)
print(today.year, 'year')
print(today.month, 'month')
print(today.day, 'day')

2024-03-01
2024 year
3 month
1 day

In [14]:
import datetime

today = datetime.datetime.now()

print(today)
print(today.year, 'year')
print(today.month, 'month')
print(today.day, 'day')
print(today.hour, 'hour')
print(today.minute, 'minute')
print(today.second, 'second')

2024-03-01 14:35:38.408257
2024 year
3 month
1 day
14 hour
35 minute
38 second

In [16]:
from datetime import timedelta

delta = timedelta(
    days = 50,
    seconds = 27,
    microseconds = 10,
    milliseconds = 29000,
    minutes = 5,
    hours = 8,
    weeks = 2)

print(delta)

64 days, 8:05:56.000010

In [17]:
from datetime import timedelta

d = datetime.datetime(2000, 5, 3)

delta = datetime.timedelta(days = 30)

print(d + delta)

2000-06-02 00:00:00

In [18]:
from datetime import datetime

now = datetime.now()

print(now)

replace_time = now.replace(month = 12, day = 30)

print(replace_time)

2024-03-01 14:50:46.046888
2024-12-30 14:50:46.046888

#### os module

In [19]:
import os
os.getcwd()

'/Users/anbschool0032/Desktop/python/22.Library and Custom Module'

In [20]:
import os
os.listdir()

['.DS_Store',
 'fund_cal.ipynb',
 'key concept.ipynb',
 '__pycache__',
 'cal_n.ipynb',
 'cal_n.py',
 '.ipynb_checkpoints',
 'fund_cal.py']

#### turtle graphic module

In [ ]:
import turtle as t

t.setup(width = 400, height = 400)
for i in range(200):
    t.forward(i)
    t.left(93)
t.done()

In [13]:
import turtle as t
import math
# u
t.penup()
t.goto(-210, 100)
t.pendown()
t.right(90)
t.forward(100)
t.left(90)
t.forward(80)
t.left(90)
t.forward(100)


t.penup()
t.goto(-110, 100)
t.pendown()

# r
t.left(180)
t.forward(100)
t.goto(-110, 80)
t.left(130)
t.forward(34)


t.penup()
t.goto(50, 80)
t.pendown()

#G
t.left(50)
t.forward(20)
t.left(90)
t.forward(80)
t.left(90)
t.forward(100)
t.left(90)
t.forward(80)
t.left(90)
t.forward(20)
t.left(90)
t.forward(20)



t.penup()
t.goto(70, 0)
t.right(113)
t.pendown()

#A
t.forward(108)
t.left(226)
t.forward(108)
t.penup()
t.goto(90, 50)
t.left(67)
t.pendown()
t.forward(45)



t.penup()
t.right(90)
t.goto(170, 100)
t.pendown()

#e
t.forward(100)
t.left(90)
t.forward(80)
t.penup()
t.goto(170, 50)
t.pendown()
t.forward(80)
t.penup()
t.goto(170, 100)
t.pendown()
t.forward(80)
t.hideturtle()
t.done()

Terminator:

In [1]:
import turtle
colors = ['red', 'yellow', 'blue', 'orange', 'green', 'red']

aiden = turtle.Turtle()
turtle.bgcolor('black')

for n in range(36):
    for i in range(6):
        aiden.color(colors[i])
        aiden.forward(100)
        aiden.left(60)
    aiden.right(10)
    
aiden.penup()
aiden.color("white")
for i in range(36):
    aiden.forward(220)
    aiden.pendown()
    aiden.circle(5)
    aiden.penup()
    aidne.backward(220)
    aiden.right(10)
    
aiden.hideturtle()

NameError: name 'aidne' is not defined

### regular expression

In [2]:
import re

txt1 = 'Life is too short, you need python.'
txt2 = 'The best moments of my life.'
print(re.search('Life', txt1))

<re.Match object; span=(0, 4), match='Life'>

In [3]:
print(re.search('Life', txt2))

None

In [4]:
match = re.search('Life', txt1)
match.group()

'Life'

In [5]:
match.start()

0

In [6]:
match.end()

4

In [7]:
match.span()

(0, 4)

In [8]:
txt1[0:4]

'Life'

In [9]:
import re

text = 'please call 010-2345-1234'
regex = re.compile('(\d{3})-(\d{4}-\d{4})')
match_obj = regex.search(text)
print(match_obj.group())

010-2345-1234

In [10]:
print(match_obj.group(1))

010

In [11]:
print(match_obj.group(2))

2345-1234

In [12]:
txt2 = 'The best moments of my life.'
print(re.search('Life', txt2))

None

In [14]:
print(re.search('Life|life', txt2))

<re.Match object; span=(23, 27), match='life'>

In [15]:
# Meta character: [], -, and |
print(re.search('[Ll]ife', txt2))

<re.Match object; span=(23, 27), match='life'>

In [20]:
txt1 = 'Life is too short, you need python.'
txt2 = 'The best moments of my life.'
txt3 = 'My life my choice'

print(re.search('^Life', txt1))  # ^ : only first character are searched

<re.Match object; span=(0, 4), match='Life'>

In [17]:
print(re.search('^Life', txt2))

None

In [19]:
print(re.search('^Life', txt3))

None

In [21]:
# regular expression
txt1 = 'Who are you to judge the Life I live'
txt2 = 'The best moments of my life'
print(re.search('life$', txt1))  # $: find at the last word

None

In [22]:
print(re.search('life$', txt2))

<re.Match object; span=(23, 27), match='life'>

In [23]:
print(re.search('A..A', 'ABA'))
print(re.search('A..A', 'ABBA'))
print(re.search('A..A', 'ABBBA'))

None
<re.Match object; span=(0, 4), match='ABBA'>
None

In [25]:
print(re.search('AB*', 'A'))
print(re.search('AB*', 'AA'))
print(re.search('AB*', 'J-HOP'))
print(re.search('AB*', 'X-MAN'))
print(re.search('AB*', 'CABBA'))
print(re.search('AB*', 'CABBBBA'))

<re.Match object; span=(0, 1), match='A'>
<re.Match object; span=(0, 1), match='A'>
None
<re.Match object; span=(3, 4), match='A'>
<re.Match object; span=(1, 4), match='ABB'>
<re.Match object; span=(1, 6), match='ABBBB'>

In [27]:
print(re.search('AB?', 'A'))
print(re.search('AB?', 'AA'))
print(re.search('AB?', 'J-HOP'))
print(re.search('AB?', 'X-MAN'))
print(re.search('AB?', 'CABBA'))
print(re.search('AB?', 'CABBBBA'))

<re.Match object; span=(0, 1), match='A'>
<re.Match object; span=(0, 1), match='A'>
None
<re.Match object; span=(3, 4), match='A'>
<re.Match object; span=(1, 3), match='AB'>
<re.Match object; span=(1, 3), match='AB'>

In [28]:
print(re.search('AB+', 'A'))
print(re.search('AB+', 'AA'))
print(re.search('AB+', 'J-HOP'))
print(re.search('AB+', 'X-MAN'))
print(re.search('AB+', 'CABBA'))
print(re.search('AB+', 'CABBBBA'))

None
None
None
None
<re.Match object; span=(1, 4), match='ABB'>
<re.Match object; span=(1, 6), match='ABBBB'>

In [29]:
# findall

txt3 = 'My life my life my life in the sunshine'
re.findall('[Mm]y', txt3)

['My', 'my', 'my']