### iterable data type

In [1]:
n = 100
n_iter = iter(n)

TypeError: 'int' object is not iterable

In [2]:
try:
    n = 100
    iterator = iter(n) # try to convert integer n to an iterable data type
except TypeError:
    print("Number is not iterable data type.")
else:
    print("Number is terable data type.")

Number is not iterable data type.

In [3]:
try:
    l = [10,20,30]
    iterator = iter(l)
except TypeError:
    print("List is not iterable data type.")
else:
    print("List iterable data type.")

List iterable data type.

In [4]:
try:
    t = (10,20,30)
    iterator = iter(t)
except TypeError:
    print("Tuple is not iterable data type.")
else:
    print("Tuple is iterable data type")

Tuple is iterable data type

In [ ]:
try:
    s = 'string'
    iterator = iter(s)
except TypeError:
    print("String is not iterable data type.")
else:
    print("String is iterable data type")

### built-in function that take iterable data types as parameters

In [5]:
# all function 

l1 = [1,2,3,4]
l2 = [0,2,4,8]
l3 = [0,0,0,0]
all(l1)

True

In [6]:
all(l2)

False

In [7]:
all(l3)

False

In [8]:
# next function

iter_a = iter([10,20,30])
next(iter_a)

10

In [9]:
next(iter_a)

20

In [10]:
next(iter_a)

30

In [11]:
next(iter_a)

StopIteration:

In [12]:
a = [10,20,30]
next(a)

TypeError: 'list' object is not an iterator

In [13]:
r_iter = iter(range(3))
next(r_iter)

0

In [14]:
iter1 = iter([10,20,30])
print(iter1)
print(list(iter1))
print(tuple(iter1)) # cant convert again

<list_iterator object at 0x1085165c0>
[10, 20, 30]
()
()

## Set

In [16]:
# declaring set

set0 = set()

set1 = {1,2,3,4}

n_tuple = (1,2,3,4)
set2 = set(n_tuple)

n_list = [1,2,3,4]
set3 = set(n_list)
set3

{1, 2, 3, 4}

In [17]:
days_list = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
days_set = set(days_list)
days_set  # unordered, so cannot use indexing

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [18]:
fruits_tuple = ('apple', 'orange', 'water melon')
fruits_set = set(fruits_tuple)
fruits_set

{'apple', 'orange', 'water melon'}

In [20]:
# duplication

l = set([10,10,20,40,50,30,40])
print(l)

{40, 10, 50, 20, 30}

In [23]:
# set with strings
# create element of each character
set('hello')

{'e', 'h', 'l', 'o'}

### set operator

In [26]:
# in, not in
numbers = {2,1,3}
if 1 in numbers:
    print("There is a 1 in the set.")
    
if 7 not in numbers:
    print("There is no 7 in the set.")

There is a 1 in the set.
There is no 7 in the set.

### method in set

In [71]:
numbers = {1,2,3}
numbers.add(4) # take one argument
numbers.remove(2) # take one argument 
numbers.discard(3) # take one argument
numbers.clear() # take no argument
# issubsets(s): return True/False indicating whether the set is a subset of s
# issuperset(s): return True/Fasle indicating whether the set is a superset of set s
# isdisjoint(s): return True/False indicating whether the set is disjoijt from set s
numbers

TypeError: set.discard() takes exactly one argument (2 given)

In [72]:
# if A are all in B, A is a subset of B
# since B include A, B is a superset of A

# issubsets(s): return True/False indicating whether the set is a subset of s
# issuperset(s): return True/Fasle indicating whether the set is a superset of set s
# isdisjoint(s): return True/False indicating whether the set is disjoijt from set s

s1 = {1,2,3,4,5}
s2 = {1,2,3}
s3 = {1,2,6}
s2.issubset(s1)

True

In [73]:
s3.issubset(s1)

False

In [74]:
s1.issuperset(s2)

True

### iterating set

In [35]:
numbers = {3,2,1,6,5,8,9,4}
for x in numbers:
    print(x, end = ' ')
    
print()

for y in sorted(numbers):
    print(y, end = ' ')
    
numbers = sorted(numbers) #set is converted to list using sorted function
numbers

1 2 3 4 5 6 8 9
1 2 3 4 5 6 8 9

[1, 2, 3, 4, 5, 6, 8, 9]

### one-liner loop expression

In [42]:
# {i : create a new set of items
# for i in : for each element i in the data type
# 'apple' } : lists, tuples, strings, etc

a = {i for i in 'apple'}
print(a)


# with for loop and if statement
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'l', 'n', 'i', 'a', 'p', 'e'}

{'e', 'i', 'n'}

### built-in functions that take set as parameter

In [43]:
a_set = {1,5,4,3,7,4}
len(a_set)

5

In [44]:
max(a_set)

7

In [45]:
min(a_set)

1

In [46]:
sorted(a_set)

[1, 3, 4, 5, 7]

In [47]:
sum(a_set)

20

In [48]:
# logical function, like all and any, can be applied to data with multiple items
# all: returns true if all iterable data items inside it evaluate to true
# any: returns true if at least one of iterable data items inside evaluate to true

a_set = {1,0,2,3,3}
all(a_set), any(a_set)

(False, True)

### set operator and method

In [50]:
# s1 = 1 3 2
# s2 = 7 8 9
# intersection = 4 5 6


# union operator and method
# s1 | s2 = {1,2,3,4,5,6,7,8,9} or s1.union(s2)

# intersection operator and method
# s1 & s2 = {4,5,6} or s1.intersection(s2)

# difference operator and method
# s1 - s2 = {1,2,3} or s1.difference(s2)

# symmetric difference operator and method
# s1 ^ s2 = {1,2,3,7,8,9} or s1.symmetric_difference(s2)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4249388282.py, line 2)

In [51]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [52]:
s1 & s2

{4, 5, 6}

In [60]:
s1 - s2

{7, 8, 9}

In [54]:
s1 ^ s2

{1, 2, 3, 7, 8, 9}

In [57]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [56]:
s1.intersection(s2)

{4, 5, 6}

In [58]:
s1.difference(s2)

{1, 2, 3}

In [59]:
s1.symmetric_difference(s2)

{1, 2, 3, 7, 8, 9}

In [61]:
# using sequential operators

In [62]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s3 = {5,6,9,10,11}
s1 & s2 & s3

{5, 6}

In [63]:
s1 - s2 - s3

{1, 2, 3}