### iterable data type

In [1]:
n = 100
n_iter = iter(n)

TypeError: 'int' object is not iterable

In [ ]:
try:
    n = 100
    iterator = iter(n) # try to convert integer n to an iterable data type
except TypeError:
    print("Number is not iterable data type.")
else:
    print("Number is terable data type.")

In [ ]:
try:
    l = [10,20,30]
    iterator = iter(l)
except TypeError:
    print("List is not iterable data type.")
else:
    print("List iterable data type.")

In [ ]:
try:
    t = (10,20,30)
    iterator = iter(t)
except TypeError:
    print("Tuple is not iterable data type.")
else:
    print("Tuple is iterable data type")

In [ ]:
try:
    s = 'string'
    iterator = iter(s)
except TypeError:
    print("String is not iterable data type.")
else:
    print("String is iterable data type")

### built-in function that take iterable data types as parameters

In [ ]:
# all function 

l1 = [1,2,3,4]
l2 = [0,2,4,8]
l3 = [0,0,0,0]
all(l1)

In [ ]:
all(l2)

In [ ]:
all(l3)

In [ ]:
# next function

iter_a = iter([10,20,30])
next(iter_a)

In [ ]:
next(iter_a)

In [ ]:
next(iter_a)

In [ ]:
next(iter_a)

In [ ]:
a = [10,20,30]
next(a)

In [ ]:
r_iter = iter(range(3))
next(r_iter)

In [ ]:
iter1 = iter([10,20,30])
print(iter1)
print(list(iter1))
print(tuple(iter1)) # cant convert again

## Set

In [ ]:
# declaring set

set0 = set()

set1 = {1,2,3,4}

n_tuple = (1,2,3,4)
set2 = set(n_tuple)

n_list = [1,2,3,4]
set3 = set(n_list)
set3

In [ ]:
days_list = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
days_set = set(days_list)
days_set  # unordered, so cannot use indexing

In [ ]:
fruits_tuple = ('apple', 'orange', 'water melon')
fruits_set = set(fruits_tuple)
fruits_set

In [ ]:
# duplication

l = set([10,10,20,40,50,30,40])
print(l)

In [ ]:
# set with strings
# create element of each character
set('hello')

### set operator

In [ ]:
# in, not in
numbers = {2,1,3}
if 1 in numbers:
    print("There is a 1 in the set.")
    
if 7 not in numbers:
    print("There is no 7 in the set.")

### method in set

In [ ]:
numbers = {1,2,3}
numbers.add(4) # take one argument
numbers.remove(2) # take one argument 
numbers.discard(3) # take one argument
numbers.clear() # take no argument
numbers

In [ ]:
# if A are all in B, A is a subset of B
# since B include A, B is a superset of A

# issubsets(s): return True/False indicating whether the set is a subset of s
# issuperset(s): return True/Fasle indicating whether the set is a superset of set s
# isdisjoint(s): return True/False indicating whether the set is disjoijt from set s

s1 = {1,2,3,4,5}
s2 = {1,2,3}
s3 = {1,2,6}
s2.issubset(s1)

In [ ]:
s3.issubset(s1)

In [ ]:
s1.issuperset(s2)

In [ ]:
s1.issuperset(s3)

In [ ]:
# disjoint method: return true if sets are different

s1 = {1,2,3}
s2 = {10,20,30}
s1.isdisjoint(s2)

### iterating set

In [ ]:
numbers = {3,2,1,6,5,8,9,4}
for x in numbers:
    print(x, end = ' ')
    
print()

for y in sorted(numbers):
    print(y, end = ' ')
    
numbers = sorted(numbers) #set is converted to list using sorted function
numbers

### one-liner loop expression

In [ ]:
# {i : create a new set of items
# for i in : for each element i in the data type
# 'apple' } : lists, tuples, strings, etc

a = {i for i in 'apple'}
print(a)


# with for loop and if statement
a = {i for i in 'pineapple' if i not in 'apl'}
a

### built-in functions that take set as parameter

In [ ]:
a_set = {1,5,4,3,7,4}
len(a_set)

In [ ]:
max(a_set)

In [ ]:
min(a_set)

In [ ]:
sorted(a_set)

In [ ]:
sum(a_set)

In [ ]:
# logical function, like all and any, can be applied to data with multiple items
# all: returns true if all iterable data items inside it evaluate to true
# any: returns true if at least one of iterable data items inside evaluate to true

a_set = {1,0,2,3,3}
all(a_set), any(a_set)

### set operator and method

In [ ]:
# s1 = 1 3 2
# s2 = 7 8 9
# intersection = 4 5 6


# union operator and method
# s1 | s2 = {1,2,3,4,5,6,7,8,9} or s1.union(s2)

# intersection operator and method
# s1 & s2 = {4,5,6} or s1.intersection(s2)

# difference operator and method
# s1 - s2 = {1,2,3} or s1.difference(s2)

# symmetric difference operator and method
# s1 ^ s2 = {1,2,3,7,8,9} or s1.symmetric_difference(s2)

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s1 | s2

In [ ]:
s1 & s2

In [ ]:
s1 - s2

In [ ]:
s1 ^ s2

In [ ]:
s1.union(s2)

In [ ]:
s1.intersection(s2)

In [ ]:
s1.difference(s2)

In [ ]:
s1.symmetric_difference(s2)

In [ ]:
# using sequential operators

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s3 = {5,6,9,10,11}
s1 & s2 & s3

In [ ]:
s1 - s2 - s3

### cartesian product

In [ ]:
A = {1,3}
B = {2,4}
res = set()
for i in A:  # line 4-6: perform union operation between (i,j) elements and res
    for j in B:  # completes the tuples with each elements as a component, and are not duplicated
        res = res | {(i, j)}
AxB = res
print('A =', A)
print("B =", B)
print("AxB =", AxB)

### set and comparison operator

In [ ]:
A = {1,2,3}
B = {1,2,3}
print(A == B)

A = {1,2,3,4,5}
B = {1,2,3}
print(A > B)

In [ ]:
# example of finding divisors and greatest common divisor of two numbers
num = 10
divisors = []

for i in range(2, num):
    if num % i == 0:
        divisors.append(i)
        
print("proper divisor of", num, " :", divisors)

# with set
num = 10
divisors = set()

for i in range(2, num):
    if num % i == 0:
        divisors.add(i)
        
print("proper divisor of", num, " :", divisors)

In [2]:
num1 = 48
divisors1 = set()

for i in range(2, num1):
    if num1 % i == 0:
        divisors1.add(i)
        
print("proper divisor of", num1, " :", divisors1)


num2 = 60
divisors2 = set()

for i in range(2, num2):
    if num2 % i == 0:
        divisors2.add(i)
        
print("proper divisor of", num2, " :", divisors2)

print(divisors2.intersection(divisors1))
print(f"The common factor of {num1}, {num2} :", max(divisors1.intersection(divisors2)))

proper divisor of 48  : {2, 3, 4, 6, 8, 12, 16, 24}
proper divisor of 60  : {2, 3, 4, 5, 6, 10, 12, 15, 20, 30}
{2, 3, 4, 6, 12}
The common factor of 48, 60 : 12