## creating dates and times using python datetime class

In [4]:
import pandas as pd
import numpy as np
import datetime

from datetime import date, datetime, time, timezone

datetime(2021, 7, 7)

datetime.datetime(2021, 7, 7, 0, 0)

In [5]:
datetime(2021, 7, 7, 15, 50)

datetime.datetime(2021, 7, 7, 15, 50)

In [6]:
d = date(2021, 7, 7)
t = time(13, 26, 10)
datetime.combine(d, t)

datetime.datetime(2021, 7, 7, 13, 26, 10)

In [7]:
datetime.now()

datetime.datetime(2024, 6, 19, 13, 29, 24, 310317)

In [8]:
datetime.now(timezone.utc)

datetime.datetime(2024, 6, 19, 6, 32, 35, 116334, tzinfo=datetime.timezone.utc)

In [9]:
datetime.now().date()

datetime.date(2024, 6, 19)

## creating specific points in time using Pandas timestamp

In [14]:
pd.Timestamp('2017, 1, 15')

Timestamp('2017-01-15 00:00:00')

In [13]:
pd.Timestamp('2017, 5, 3, 12:00')

Timestamp('2017-05-03 12:00:00')

## creating time intervals using pandas Timedelta

In [16]:
import pandas as pd
import datetime
from datetime import datetime

my_birth = datetime(2004, 9, 11)
today = datetime.today()
tomorrow = today + pd.Timedelta(days = 1)

print(tomorrow - my_birth)

7222 days, 14:09:16.916415

In [17]:
my_birth - today

datetime.timedelta(days=-7222, seconds=35443, microseconds=83585)

In [23]:
today = datetime.today()
data = today + pd.Timedelta(weeks = 11)

print(today)
print(data)

2024-06-19 14:24:57.464300
2024-09-04 14:24:57.464300

## expressing periods using Period

In [24]:
import pandas as pd

special_day = pd.Period('1973-7', freq = 'M')
special_day

Period('1973-07', 'M')

In [25]:
special_day.start_time

Timestamp('1973-07-01 00:00:00')

In [26]:
special_day.end_time

Timestamp('1973-07-31 23:59:59.999999999')

In [27]:
# shifting the frequency of special-day by two months
n = special_day + 2

print(special_day)
print(n)

1973-07
1973-09

In [28]:
n.start_time, n.end_time

(Timestamp('1973-09-01 00:00:00'), Timestamp('1973-09-30 23:59:59.999999999'))

# indexing and basic usage of time series data

## convert other data types to Timestamp and index with DatetimeIndex

In [45]:
import pandas as pd
wti = pd.read_csv('./DCOILWTICO.csv')
wti.head()

         DATE DCOILWTICO
0  2019-05-30      56.47
1  2019-05-31      53.49
2  2019-06-03      53.25
3  2019-06-04       53.5
4  2019-06-05      51.57

In [46]:
wti.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306 entries, 0 to 1305
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATE        1306 non-null   object
 1   DCOILWTICO  1306 non-null   object
dtypes: object(2)
memory usage: 20.5+ KB

In [47]:
wti['N_DATE'] = pd.to_datetime(wti['DATE'])
wti['N_DATE']

0      2019-05-30
1      2019-05-31
2      2019-06-03
3      2019-06-04
4      2019-06-05
          ...
1301   2024-05-24
1302   2024-05-27
1303   2024-05-28
1304   2024-05-29
1305   2024-05-30
Name: N_DATE, Length: 1306, dtype: datetime64[ns]

In [48]:
wti.head()

         DATE DCOILWTICO     N_DATE
0  2019-05-30      56.47 2019-05-30
1  2019-05-31      53.49 2019-05-31
2  2019-06-03      53.25 2019-06-03
3  2019-06-04       53.5 2019-06-04
4  2019-06-05      51.57 2019-06-05

In [49]:
df = wti.drop(['DATE'], axis = 1)
df.head()

  DCOILWTICO     N_DATE
0      56.47 2019-05-30
1      53.49 2019-05-31
2      53.25 2019-06-03
3       53.5 2019-06-04
4      51.57 2019-06-05

In [50]:
df.set_index('N_DATE', inplace=True)
df.head()

           DCOILWTICO
N_DATE
2019-05-30      56.47
2019-05-31      53.49
2019-06-03      53.25
2019-06-04       53.5
2019-06-05      51.57

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1306 entries, 2019-05-30 to 2024-05-30
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DCOILWTICO  1306 non-null   object
dtypes: object(1)
memory usage: 20.4+ KB

In [58]:
df['2019-06-04':'2019-06-10']

           DCOILWTICO
N_DATE
2019-06-04       53.5
2019-06-05      51.57
2019-06-06      52.59
2019-06-07      53.95
2019-06-10      53.33

## generate time series with a specific frequency using Timestamp array

In [2]:
import pandas as pd
# since periods is 5, it means generating 5 of 'Timestamp'
pd.date_range(start = '2021-01-01', end = None, periods = 5, freq = 'D', tz = None)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05'],
              dtype='datetime64[ns]', freq='D')

In [3]:
import pandas as pd
pd.date_range(start = '2021-01-01', end = '2021-05-01', periods = None, freq = 'M', tz = None)

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30'], dtype='datetime64[ns]', freq='M')

In [13]:
import pandas as pd
import datetime
pd.date_range(start='2024-01-01', end=datetime.datetime.today() , periods=5, freq=None , tz='Asia/Seoul')

DatetimeIndex([          '2024-01-01 00:00:00+09:00',
               '2024-02-12 16:06:37.083316250+09:00',
               '2024-03-26 08:13:14.166632500+09:00',
               '2024-05-08 00:19:51.249948750+09:00',
                  '2024-06-19 16:26:28.333265+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq=None)

In [16]:
import pandas as pd
pd.date_range(start='2021-01-01', end='2021-12-31' , periods=5, freq=None, tz='Asia/Seoul')

DatetimeIndex(['2021-01-01 00:00:00+09:00', '2021-04-02 00:00:00+09:00',
               '2021-07-02 00:00:00+09:00', '2021-10-01 00:00:00+09:00',
               '2021-12-31 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq=None)

In [19]:
import pandas as pd
pd.date_range(start='2021-01-01', end=None, periods=5, freq='M', tz=None)

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31'],
              dtype='datetime64[ns]', freq='M')

In [31]:
import pandas as pd
pd.date_range(start='2021-01-01', end=None, periods=5, freq='Ms', tz=None)

DatetimeIndex([       '2021-01-01 00:00:00', '2021-01-01 00:00:00.001000',
               '2021-01-01 00:00:00.002000', '2021-01-01 00:00:00.003000',
               '2021-01-01 00:00:00.004000'],
              dtype='datetime64[ns]', freq='L')

## generating time series with a specific frequency using a period array

In [33]:
import pandas as pd

p_data = pd.period_range(start = '2020-1-1', end = '2020-12-31', periods = None, freq = 'M')
p_data

PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12'],
            dtype='period[M]')

In [37]:
for i in p_data:
#     print("{0} {1}".format(i.start_time, i.end_time))
    print(f"{i.start_time} {i.end_time}")

2020-01-01 00:00:00 2020-01-31 23:59:59.999999999
2020-02-01 00:00:00 2020-02-29 23:59:59.999999999
2020-03-01 00:00:00 2020-03-31 23:59:59.999999999
2020-04-01 00:00:00 2020-04-30 23:59:59.999999999
2020-05-01 00:00:00 2020-05-31 23:59:59.999999999
2020-06-01 00:00:00 2020-06-30 23:59:59.999999999
2020-07-01 00:00:00 2020-07-31 23:59:59.999999999
2020-08-01 00:00:00 2020-08-31 23:59:59.999999999
2020-09-01 00:00:00 2020-09-30 23:59:59.999999999
2020-10-01 00:00:00 2020-10-31 23:59:59.999999999
2020-11-01 00:00:00 2020-11-30 23:59:59.999999999
2020-12-01 00:00:00 2020-12-31 23:59:59.999999999

# lets code - mission

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read.csv('')