In [25]:
list_array = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list_array

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
list_array = [[1, 2, 3], 
              [4, 5, 6], 
              [7, 8, 9]]
print(list_array[0])

[1, 2, 3]

In [7]:
list1 = []
for i in range(3):
    line = []
# First, we create an empty list, which will be used as the inner list, by 
# iterating three times for the row count
    
    for j in range(2):
        line.append(0)
# Then, we iterate twice for the column count and use the append method to 
# add 0  to the inner list
    list1.append(line)
# in the outer loop, we use the append method again, this way, we add the 
# inner list to the "list1"
    
print(list1)

[[0, 0], [0, 0], [0, 0]]

In [8]:
list_array = [[0] * 2 for i in range(3)]
# [0] * 2 : create new items in the list using operation
#for i in : for each element i in data type
# range(3) : List , tuple, strings, etc
print(list_array)

[[0, 0], [0, 0], [0, 0]]

In [11]:
# one liner with if statement
list2 = [[i] for i in range(11) if i % 2 == 0]
print(list2)

[[0], [2], [4], [6], [8], [10]]

In [12]:
# another example
list3 = [[0 for j in range(2)] for i in range(3)]
#        column                     row
# By using [0 for j in range(2)], repeat 0 twice to create[0, 0], and
#then using for i in range(3), repeat [0, 0] three times to create as result
list3

[[0, 0], [0, 0], [0, 0]]

# Index for element access

In [13]:
#column        0  1  2
list_array = [[1, 2, 3],# row 0
              [4, 5, 6], # 1
              [7, 8, 9]] # 2
print(list_array[0])

[1, 2, 3]

In [14]:
print(list_array[0][2])
#               row,column

3

In [15]:
print(list_array[2][2])

9

In [16]:
list_array[1][1] = 300
print(list_array)

[[1, 2, 3], [4, 300, 6], [7, 8, 9]]

# Using a for statement to print a 2D list

In [17]:
list_array = [[1, 2, 3],# row 0
              [4, 5, 6], # 1
              [7, 8, 9]] 
for item in list_array:
    print('item = ',item)
# when using a for statement with a 2D list, it returns the inner list one by one
#

item =  [1, 2, 3]
item =  [4, 5, 6]
item =  [7, 8, 9]

In [18]:
list_array = [[1, 2, 3],# row 0
              [4, 5, 6], # 1
              [7, 8, 9]] # 2
for i, j, k in list_array:
    print(i, j , k)
# the first loop , the list[1,2,3] appears, and i,j ,k are assigned 
#i -> 1, j -> 2, k -> 3
# then repeat
# In this case, such as 'for i, j, k in list_array' when specifying three variables before ' in', it extracts 
# the items from the inner lists

1 2 3
4 5 6
7 8 9

In [21]:
# 2D list error
list_array = [[1, 2, 3],# row 0
              [4, 6], # 1
              [ 8 ]] # 2
for i, j, k in list_array:
    print(i, j , k)
# The previous approach only works correctly when the inner lists of the list contain exactly three items.

1 2 3

ValueError: not enough values to unpack (expected 3, got 2)

## Printing a 2D list using the nested loop with for statement

In [26]:
list_array = [[1, 2, 3],# row 0
              [4, 5, 6], # 1
              [7, 8, 9]] # 2
for i in list_array:
# the outer "for i in list_array" retrieves one item at a time from the entire 
# inner list and assigns it to i
# so basically, for the first loop i = [1,2,3]
    for j in i:
# and if j in i, it means j loop in i = [1,2,3]
        print(j, end = ' ')
    print()

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [2]:
list_array = [[1, 2, 3],# row 0
              [4, 5, 6], # 1
              [7, 8, 9]] # 2
for i in list_array:
for i in list_array1:
# First loop, Put one element from the 2D list list_array into i. The first element is[1,2,3]
# second element is [4,6]
#third element is [8]

    for j in i : 
# first inner loop , j loop inside the[1,2,3], second is [4,6],...
        print(j, end = ' ')
# using end = ' ' replaces the line break with a space
    print()

1 2 3
4 6
8

# Ouput using index ,for in range statement

In [3]:
list_array = [[1, 2, 3],# row 0
              [4, 5, 6], # 1
              [7, 8, 9]] # 2
# first loop example

for i in range(len(list_array)):
#   0 = [1,2,3]
    for j in range(len(list_array[i])):
#       0                          0 = [1,2,3]
        print(list_array[i][j],end = ' ')
#                        0  0 = 1, 
#                        0  1 = 2 , 
#                        0  2 = 3
    print()
#   for i to finish the loop and align to the next loop

1 2 3
4 5 6
7 8 9

In [5]:
list_array2 = [[1, 2, 3],# row 0
              [4, 5], # 1
              [7]] # 2
for i in range(len(list_array2)):
#   0 = [1,2,3]
    for j in range(len(list_array2[i])):
#       0                          0 = [1,2,3]
        print(list_array[i][j],end = ' ')
    print()

1 2 3
4 5
7

 ## Printing a 2D list using a while statement

In [6]:
list_array = [[1, 2, 3],# row 0
              [4, 5, 6], # 1
              [7, 8, 9]] # 2
i = 0
while i < len(list_array):
# the while stat_ repeats as many times as the number of inner lists in list_array
# calculate the row count of the 2D list as len(list_array)

    a, b, c = list_array[i]
# a, b, c are assigned the items of list_array[i], so if i is 0., they will be assigned 1,2,3
# a = 1, b = 2 , c = 3(first loop)
    print(a, b, c)
    i += 1

1 2 3
4 5 6
7 8 9

# Assignment of a 2D list

In [7]:
list_array = [[1, 2, 3],# row 0
              [4, 5, 6], # 1
              [7, 8, 9]] # 2
list1 = list_array # assigned list_array to list1
print(list1)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
list1[0][2] = 90 # if value of list1 changes, the value of list_array also changes
print(list1) 
print(list_array)

[[1, 2, 90], [4, 5, 6], [7, 8, 9]]
[[1, 2, 90], [4, 5, 6], [7, 8, 9]]

# copy module

In [9]:
import copy 
list_array = [[1, 2, 3],# row 0
              [4, 5, 6], # 1
              [7, 8, 9]] # 2
list1 = copy.deepcopy(list_array)
#copy.deepcopy() : objects are created in separate memory 
list1[0][0] = 990
print(list_array)
print(list1)
print(list1 is list_array)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[990, 2, 3], [4, 5, 6], [7, 8, 9]]
False

# Jagged list

In [16]:
list3 = [1, 6, 3, 4, 5]
# the width(number of items in the inner lists) of the jagged list is stored in list1.
list4 = []
# the jagged list to be created is list4,  initially an empty list.
for i in list3:
# the for statement assigns i to each item in list1.
    line = []
    for j in range(i):
        line.append(j)
# in the inner loop, a range sequence generated with i is appended to the 'line' list using the append method.
    list4.append(line)
# the outer loop, the list 'line ' is added as an item to list2.
print(list4)

[[0], [0, 1, 2, 3, 4, 5], [0, 1, 2], [0, 1, 2, 3], [0, 1, 2, 3, 4]]

In [15]:
list2 = [[0],
         [0, 1],
         [0, 1, 2],
         [0, 1, 2, 3],
         [0, 1, 2, 3, 4]]
print(list2)

[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3], [0, 1, 2, 3, 4]]

# Jagged list using nested loop for stat

In [26]:
list1 = [1,2,3,4,5]
list2 = [] 
for i in list1: # first loop = line has 1 box equal to 1 space
    line = []
    for j in range(i): # first loop = put only 1 number cuz i can only put 1 space, it depends on the value of i
        line.append(j) # add j to the line = [0]
        print(j, end = ' ') # 
    list2.append(line)
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [18]:
# randint number
import random
list1 = [1,2,3,4,5]
list3 =  []
for i in list1 :
    line = [ ]
    for j in range(i):
        line.append(random.randint(1,100))
    list3.append(line)
for i in list3:
    for j in i : 
        print(j, end = ' ')
    print()

67
87 100
84 20 80
56 19 55 89
83 72 68 87 78

In [19]:
# one-liner expression
list1 = [[0] * i for i in [1, 2, 3, 4, 5]]
print(list1)

[[0], [0, 0], [0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [20]:
for i in list1:
    for j in i:
        print(j,end = ' ')
    print()

0
0 0
0 0 0
0 0 0 0
0 0 0 0 0

In [22]:
list5 = [[10 * i ] * i for i in [1, 2, 3, 4, 5]]
print(list5)

[[10], [20, 20], [30, 30, 30], [40, 40, 40, 40], [50, 50, 50, 50, 50]]

In [24]:
list5[0].append(99)
list5[1].append(67)
print(list5)
# since list5[0] amd list5[1] are lists, we can use the append method to insert items we want, respectively

[[10, 99, 99], [20, 20, 67, 67], [30, 30, 30], [40, 40, 40, 40], [50, 50, 50, 50, 50]]