### greet twice by calling function twice

In [1]:
def my_greet():
    print("Welcome.")
    print("My name is ..")
    
my_greet()
my_greet()

Welcome.
Welcome.

### compare the value of 100 and 200

In [2]:
def max2(m, n):
    print(f"The larger number between 100 and 200 is: {max(m,n)}")
    
def min2(m, n):
    print(f"The smaller number between 100 and 200 is: {min(m,n)}")
    
max2(100,200)
min2(100,200)

The larger number between 100 and 200 is: 200
The smaller number between 100 and 200 is: 100

### convert mile to kilometer

In [3]:
# output outside of loop 

def mile2km(mi):
    
    for mile in range(1, mi+1):
        if mile == 1:
            print(f"{mile} miles = {mile*1.61} kilometers")
            
        else:
            print(f"{mile} miles = {mile*1.61} kilometers")
        
mile2km(5)

1 miles = 1.61 kilometers
2 miles = 3.22 kilometers
3 miles = 4.83 kilometers
4 miles = 6.44 kilometers
5 miles = 8.05 kilometers

In [19]:
# output inside of loop (follow instruction)

def mile2km(mile):
    return mile*1.61

n = 5

for i in range(1,n+1): #[1,2,3,4,5]
    if i == 1:
        print(f"{i} mile = {mile2km(i)} kilometer")
        
    else:
        print(f"{i} miles = {mile2km(i)} kilometer")
        
# print(f'{i} mile = {ile2km(85)} kilometer')

1 mile = 1.61 kilometer
2 miles = 3.22 kilometer
3 miles = 4.83 kilometer
4 miles = 6.44 kilometer
5 miles = 8.05 kilometer

### convert Celsius to Fahrenheit

In [2]:
def cel2fah(cel):
    fahrenheit = celsius * (9/5) + 32
    return fahrenheit

celsius = 10

for i in range(10, 51, 10):
    if i <= 50:
        print(f"{i} degrees Celsius = {cel2fah(i)} degree Fahrenheit")
        celsius += 10

10 degrees Celsius = 50.0 degree Fahrenheit
20 degrees Celsius = 68.0 degree Fahrenheit
30 degrees Celsius = 86.0 degree Fahrenheit
40 degrees Celsius = 104.0 degree Fahrenheit
50 degrees Celsius = 122.0 degree Fahrenheit