In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('./covid-vaccination-doses-per-capita.csv')

pandas.core.frame.DataFrame

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85958 entries, 0 to 85957
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          85958 non-null  object
 1   Code                            68070 non-null  object
 2   Day                             85958 non-null  object
 3   total_vaccinations_per_hundred  85958 non-null  float64
dtypes: float64(1), object(3)
memory usage: 2.6+ MB

In [17]:
df.head()

                 Entity Code  total_vaccinations_per_hundred
Day
2021-02-22  Afghanistan  AFG                            0.00
2021-02-28  Afghanistan  AFG                            0.02
2021-03-16  Afghanistan  AFG                            0.13
2021-04-07  Afghanistan  AFG                            0.29
2021-04-22  Afghanistan  AFG                            0.58

In [19]:
df.set_index(['Day'], inplace=True)
df.head()

KeyError: "None of ['Day'] are in the columns"