In [25]:
import pandas as pd

stamp = pd.Timestamp('2024-01-01')
stamp

Timestamp('2024-01-01 00:00:00')

In [26]:
stamp2 = pd.Timestamp('10:50:30')
stamp2

Timestamp('2024-06-27 10:50:30')

In [27]:
import datetime

today = datetime.datetime.now()
today

datetime.datetime(2024, 6, 27, 11, 1, 24, 830924)

In [28]:
tmr = today + pd.Timedelta(days=1)
tmr

datetime.datetime(2024, 6, 28, 11, 1, 24, 830924)

In [29]:
next_week = today + pd.Timedelta(weeks=1)
next_week

datetime.datetime(2024, 7, 4, 11, 1, 24, 830924)

In [15]:
month = pd.Period('2024-06-27')
month

Period('2024-06-27', 'D')

In [16]:
month = pd.Period('2024-06-27', freq='M')
month

Period('2024-06', 'M')

In [18]:
month = pd.Period(datetime.datetime.now(), freq='M')
month

Period('2024-06', 'M')

In [21]:
month = pd.Period(datetime.datetime.now() , freq='M')
month

TypeError: __new__() got an unexpected keyword argument 'periods'

In [22]:
month = pd.Period('2024-07-27', freq='M')
month

Period('2024-07', 'M')

In [23]:
month.start_time

Timestamp('2024-07-01 00:00:00')

In [24]:
month.end_time

Timestamp('2024-07-31 23:59:59.999999999')

In [30]:
data = pd.read_csv('./data/covid-vaccination-doses-per-capita-Copy1.csv')
data

            Entity Code         Day  total_vaccinations_per_hundred
0      Afghanistan  AFG  2021-02-22                            0.00
1      Afghanistan  AFG  2021-02-28                            0.02
2      Afghanistan  AFG  2021-03-16                            0.13
3      Afghanistan  AFG  2021-04-07                            0.29
4      Afghanistan  AFG  2021-04-22                            0.58
...            ...  ...         ...                             ...
85953     Zimbabwe  ZWE  2022-10-01                           74.83
85954     Zimbabwe  ZWE  2022-10-02                           74.84
85955     Zimbabwe  ZWE  2022-10-03                           74.86
85956     Zimbabwe  ZWE  2022-10-05                           74.87
85957     Zimbabwe  ZWE  2022-10-09                           74.89

[85958 rows x 4 columns]

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85958 entries, 0 to 85957
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          85958 non-null  object
 1   Code                            68070 non-null  object
 2   Day                             85958 non-null  object
 3   total_vaccinations_per_hundred  85958 non-null  float64
dtypes: float64(1), object(3)
memory usage: 2.6+ MB

In [32]:
data['Day'] = pd.to_datetime(data['Day'])

In [40]:
data.head()

        Entity Code        Day  total_vaccinations_per_hundred
0  Afghanistan  AFG 2021-02-22                            0.00
1  Afghanistan  AFG 2021-02-28                            0.02
2  Afghanistan  AFG 2021-03-16                            0.13
3  Afghanistan  AFG 2021-04-07                            0.29
4  Afghanistan  AFG 2021-04-22                            0.58

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85958 entries, 0 to 85957
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          85958 non-null  object
 1   Code                            68070 non-null  object
 2   Day                             85958 non-null  datetime64[ns]
 3   total_vaccinations_per_hundred  85958 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 2.6+ MB

In [41]:
data['Year'] = data['Day']
data.head()

        Entity Code        Day  total_vaccinations_per_hundred       Year
0  Afghanistan  AFG 2021-02-22                            0.00 2021-02-22
1  Afghanistan  AFG 2021-02-28                            0.02 2021-02-28
2  Afghanistan  AFG 2021-03-16                            0.13 2021-03-16
3  Afghanistan  AFG 2021-04-07                            0.29 2021-04-07
4  Afghanistan  AFG 2021-04-22                            0.58 2021-04-22

In [42]:
data.drop('Year', axis =1, inplace=True)
data

            Entity Code        Day  total_vaccinations_per_hundred
0      Afghanistan  AFG 2021-02-22                            0.00
1      Afghanistan  AFG 2021-02-28                            0.02
2      Afghanistan  AFG 2021-03-16                            0.13
3      Afghanistan  AFG 2021-04-07                            0.29
4      Afghanistan  AFG 2021-04-22                            0.58
...            ...  ...        ...                             ...
85953     Zimbabwe  ZWE 2022-10-01                           74.83
85954     Zimbabwe  ZWE 2022-10-02                           74.84
85955     Zimbabwe  ZWE 2022-10-03                           74.86
85956     Zimbabwe  ZWE 2022-10-05                           74.87
85957     Zimbabwe  ZWE 2022-10-09                           74.89

[85958 rows x 4 columns]

In [37]:
data['Year'] = data['Day']
data.head()

        Entity Code        Day  total_vaccinations_per_hundred       Year
0  Afghanistan  AFG 2021-02-22                            0.00 2021-02-22
1  Afghanistan  AFG 2021-02-28                            0.02 2021-02-28
2  Afghanistan  AFG 2021-03-16                            0.13 2021-03-16
3  Afghanistan  AFG 2021-04-07                            0.29 2021-04-07
4  Afghanistan  AFG 2021-04-22                            0.58 2021-04-22

In [43]:
data.columns

Index(['Entity', 'Code', 'Day', 'total_vaccinations_per_hundred'], dtype='object')

In [44]:
data = data.drop(columns='Year')

KeyError: "['Year'] not found in axis"

In [45]:
data

            Entity Code        Day  total_vaccinations_per_hundred
0      Afghanistan  AFG 2021-02-22                            0.00
1      Afghanistan  AFG 2021-02-28                            0.02
2      Afghanistan  AFG 2021-03-16                            0.13
3      Afghanistan  AFG 2021-04-07                            0.29
4      Afghanistan  AFG 2021-04-22                            0.58
...            ...  ...        ...                             ...
85953     Zimbabwe  ZWE 2022-10-01                           74.83
85954     Zimbabwe  ZWE 2022-10-02                           74.84
85955     Zimbabwe  ZWE 2022-10-03                           74.86
85956     Zimbabwe  ZWE 2022-10-05                           74.87
85957     Zimbabwe  ZWE 2022-10-09                           74.89

[85958 rows x 4 columns]

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85958 entries, 0 to 85957
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          85958 non-null  object
 1   Code                            68070 non-null  object
 2   Day                             85958 non-null  datetime64[ns]
 3   total_vaccinations_per_hundred  85958 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 2.6+ MB

In [47]:
data = data.set_index('Day')
data.head()

                 Entity Code  total_vaccinations_per_hundred
Day
2021-02-22  Afghanistan  AFG                            0.00
2021-02-28  Afghanistan  AFG                            0.02
2021-03-16  Afghanistan  AFG                            0.13
2021-04-07  Afghanistan  AFG                            0.29
2021-04-22  Afghanistan  AFG                            0.58

In [50]:
aprl_may = data[(data.index.month == 4) | (data.index.month == 5)]
aprl_may

                 Entity Code  total_vaccinations_per_hundred
Day
2021-04-07  Afghanistan  AFG                            0.29
2021-04-22  Afghanistan  AFG                            0.58
2021-05-11  Afghanistan  AFG                            1.23
2021-05-20  Afghanistan  AFG                            1.33
2021-05-24  Afghanistan  AFG                            1.39
...                 ...  ...                             ...
2022-05-26     Zimbabwe  ZWE                           70.84
2022-05-27     Zimbabwe  ZWE                           70.93
2022-05-28     Zimbabwe  ZWE                           70.97
2022-05-30     Zimbabwe  ZWE                           71.10
2022-05-31     Zimbabwe  ZWE                           71.15

[15979 rows x 3 columns]

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85958 entries, 2021-02-22 to 2022-10-09
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          85958 non-null  object
 1   Code                            68070 non-null  object
 2   total_vaccinations_per_hundred  85958 non-null  float64
dtypes: float64(1), object(2)
memory usage: 2.6+ MB

In [237]:
# data = data.loc['2021-04-01':'2022-05-31', :'Code']
# data

In [238]:
# data = data.iloc[10:20, :2]
# data

In [239]:
day = pd.date_range(start='2024-07-01', end='2024-07-07')
day

DatetimeIndex(['2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04',
               '2024-07-05', '2024-07-06', '2024-07-07'],
              dtype='datetime64[ns]', freq='D')

In [240]:
day = pd.date_range(start='2024-07-01', periods=7, freq='D')
day

DatetimeIndex(['2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04',
               '2024-07-05', '2024-07-06', '2024-07-07'],
              dtype='datetime64[ns]', freq='D')

In [241]:
day = pd.date_range(start='2024-07-01', periods=2, freq='M')
day

DatetimeIndex(['2024-07-31', '2024-08-31'], dtype='datetime64[ns]', freq='M')

In [265]:
data['Entity'] = data['Entity'].astype('category')
data

            Entity Code         Day  total_vaccinations_per_hundred
0      Afghanistan  AFG  2021-02-22                            0.00
1      Afghanistan  AFG  2021-02-28                            0.02
2      Afghanistan  AFG  2021-03-16                            0.13
3      Afghanistan  AFG  2021-04-07                            0.29
4      Afghanistan  AFG  2021-04-22                            0.58
...            ...  ...         ...                             ...
85953     Zimbabwe  ZWE  2022-10-01                           74.83
85954     Zimbabwe  ZWE  2022-10-02                           74.84
85955     Zimbabwe  ZWE  2022-10-03                           74.86
85956     Zimbabwe  ZWE  2022-10-05                           74.87
85957     Zimbabwe  ZWE  2022-10-09                           74.89

[85958 rows x 4 columns]

In [259]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85958 entries, 2021-02-22 to 2022-10-09
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          85958 non-null  category
 1   Code                            68070 non-null  object
 2   total_vaccinations_per_hundred  85958 non-null  float64
dtypes: category(1), float64(1), object(1)
memory usage: 4.2+ MB

In [24]:
data

NameError: name 'data' is not defined

In [266]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85958 entries, 0 to 85957
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          85958 non-null  category
 1   Code                            68070 non-null  object
 2   Day                             85958 non-null  object
 3   total_vaccinations_per_hundred  85958 non-null  float64
dtypes: category(1), float64(1), object(2)
memory usage: 2.1+ MB

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85958 entries, 0 to 85957
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          85958 non-null  object
 1   Code                            68070 non-null  object
 2   Day                             85958 non-null  object
 3   total_vaccinations_per_hundred  85958 non-null  float64
dtypes: float64(1), object(3)
memory usage: 2.6+ MB

In [23]:
data_chagne = data['Entity'].astype({'Entity':'category', 'Code':'category'})

KeyError: 'Only the Series name can be used for the key in Series dtype mappings.'

In [17]:
data_chagne.head()

        Entity Code         Day  total_vaccinations_per_hundred
0  Afghanistan  AFG  2021-02-22                            0.00
1  Afghanistan  AFG  2021-02-28                            0.02
2  Afghanistan  AFG  2021-03-16                            0.13
3  Afghanistan  AFG  2021-04-07                            0.29
4  Afghanistan  AFG  2021-04-22                            0.58

In [21]:
data_chagne.dtypes

Entity                            category
Code                              category
Day                                 object
total_vaccinations_per_hundred     float64
dtype: object

In [4]:
data['Entity'].astype

NameError: name 'data' is not defined

In [15]:
date = pd.date_range(start='2024-06-27', end='2025-07-31', freq='MS-JAN')
date

ValueError: Invalid frequency: MS-JAN

In [23]:
pd.date_range(start='2024-06-1', periods=1000, freq="BM")

DatetimeIndex(['2024-06-28', '2024-07-31', '2024-08-30', '2024-09-30',
               '2024-10-31', '2024-11-29', '2024-12-31', '2025-01-31',
               '2025-02-28', '2025-03-31',
               ...
               '2106-12-31', '2107-01-31', '2107-02-28', '2107-03-31',
               '2107-04-29', '2107-05-31', '2107-06-30', '2107-07-29',
               '2107-08-31', '2107-09-30'],
              dtype='datetime64[ns]', length=1000, freq='BM')

In [20]:
pd.date_range(start='2024-06-27', periods=1000, freq="M")

DatetimeIndex(['2024-06-30', '2024-07-31', '2024-08-31', '2024-09-30',
               '2024-10-31', '2024-11-30', '2024-12-31', '2025-01-31',
               '2025-02-28', '2025-03-31',
               ...
               '2106-12-31', '2107-01-31', '2107-02-28', '2107-03-31',
               '2107-04-30', '2107-05-31', '2107-06-30', '2107-07-31',
               '2107-08-31', '2107-09-30'],
              dtype='datetime64[ns]', length=1000, freq='M')